@use "../abstracts" as *;

.swiper {
    min-width: 311px;
    min-height: 304px;
    max-width: 1120px;
    height: 536px;
    width: 100%;
    height: 100%;
}

.slider {
    padding: 0;
    @include mq(small) {
        padding: 0rem 2rem 2rem 2rem;
    }
}

.hero-content {
    align-items: center;
    justify-items: center;
    & h1 {
        color: $color-primary-1000;
        font-size: $size-11;
        & span {
            color: $color-neutral-300;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 92px;
            font-style: normal;
            font-weight: 900;
            line-height: 76px;
            letter-spacing: -2px;
        }
    }
    & p {
        color: $color-neutral-300;
        max-width: 35ch;
        & span {
            color: $color-primary-1000;
        }
    }
}