@use "../abstracts" as *;

.responsiveIcons {
    display: none;
    @include mq(medium) {
        display: block;
    }
}

.menuButton {
    height: 3rem;
    width: 3rem;
    @include mq(medium){
        display: none;
    }
}

.closeButton {
    height: 2.5rem;
    width: 2.5rem;
}
