@use "../abstracts" as *;

.popUp {
    position: relative;
    padding: .5rem;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: var(--neutral-02100, #F3F5F7);

    & p {
        display: flex;
        justify-content: center;
        gap: .5rem;

        & a {
            display: inline-flex;
            align-items: center;
            color: $color-secondary-blue;
        }
    }
    & button {
        cursor: pointer;
        right: 2rem;
        &:hover {
            transform: scale(1.4);
            transition: ease 250ms;
        }
    }
}
