// @use "../abstracts" as *;

.mySwiper {
    width: 100%;
    height: 100%;
}

.product-card {
    width: 200px;
    height: 200px;
}

.product-carousel-slide {
}

// .swiper-slide {
//     flex-shrink: 0;
//     width: auto !important;
//     height: 100%;
//     position: relative;
//     transition-property: transform;
//     display: block;
// }